// ==================================
// Typography
// ==================================
//
// Font, line-height, and color for body text, headings, and more.

$font-family-base:                                              		Hind, sans-serif !default; // Hind font family
$font-family-sl-icons:                                              	Simple-Line-Icons !default; // Simple Line Icons third-party icons plugin

// Colors
$color-base:                                                            #000000 !default;
$color-white:                                                           #fff !default;
$color-heading:                                                        	#515769 !default;
$color-subtitle:                                                        #a6a7aa !default;
$color-link:                                                        	#81848f !default;
$color-link-hover:                                                      #999caa !default;
$color-sky-light:                                                      	#fafafa !default;


// ==================================
// Media queries breakpoints
// ==================================
//
//Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs-min:                											480px !default;

// Small screen / tablet
$screen-sm-min:                											768px !default;

// Medium screen / desktop
$screen-md-min:                											992px !default;

// Large screen / wide desktop
$screen-lg-min:                											1200px !default;

// Large scree / wider desktop
$screen-lg-med:                     									1260px !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:             											($screen-sm-min - 1) !default;
$screen-sm-max:                											($screen-md-min - 1) !default;
$screen-md-max:                											($screen-lg-min - 1) !default;